.leftTop {
    width: 100%;
    height: 50%;
    background: blue;
   
}

.dopplLogo {
    /* height: 50px; */
    width: 100px;
    display: block;
   padding: 20px;
}

.cityLogo {
    width: 200px;
    border-radius: 10px;
}